/* @group import */
/* @group Colors */
/* @end */
/* @group Fonts */
@font-face {
  font-family: 'lato-bold';
  src: url('../fonts/Lato-Bol.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Lato-Bol.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-Bol.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-Bol.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-Bol.svg#eea591db52cf6ebc8992abb7621b9256') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'lato-bold-italic';
  src: url('../fonts/Lato-BolIta.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Lato-BolIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-BolIta.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-BolIta.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-BolIta.svg#030f5996dac0d7b15fbd4081adedf95b') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'lato-hairline';
  src: url('../fonts/Lato-Hai.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Lato-Hai.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-Hai.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-Hai.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-Hai.svg#477d11e773543baa2ffc5ab40fca9623') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'lato-hairline-italic';
  src: url('../fonts/Lato-HaiIta.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Lato-HaiIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-HaiIta.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-HaiIta.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-HaiIta.svg#a326329371e687b71c219b7d91fb9255') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'lato-light';
  src: url('../fonts/Lato-Lig.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Lato-Lig.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-Lig.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-Lig.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-Lig.svg#80d8021909d835b751af094d043ad177') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'lato-light-italic';
  src: url('../fonts/Lato-LigIta.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Lato-LigIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-LigIta.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-LigIta.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-LigIta.svg#7015aa8810c4a9d1026a85e4ddcdf7a4') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/Lato-Reg.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Lato-Reg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-Reg.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-Reg.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-Reg.svg#48e70b8825d557df57af3e4f7d4c31be') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'lato-italic';
  src: url('../fonts/Lato-RegIta.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Lato-RegIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-RegIta.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-RegIta.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Lato-RegIta.svg#51ac4eb0bc1817d276ca824c5353e08f') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'megalopolis';
  src: url('../fonts/megalopolisextra-webfont.eot');
  src: url('../fonts/megalopolisextra-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/megalopolisextra-webfont.woff') format('woff'), url('../fonts/megalopolisextra-webfont.ttf') format('truetype'), url('../fonts/megalopolisextra-webfont.svg#megalopolis_extraregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FioulReducEvent';
  src: url('../fonts/FioulReducEvent.eot?erh2gf');
  src: url('../fonts/FioulReducEvent.eot?erh2gf#iefix') format('embedded-opentype'), url('../fonts/FioulReducEvent.woff2?erh2gf') format('woff2'), url('../fonts/FioulReducEvent.ttf?erh2gf') format('truetype'), url('../fonts/FioulReducEvent.woff?erh2gf') format('woff'), url('../fonts/FioulReducEvent.svg?erh2gf#FioulReducEvent') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LCDNormal';
  src: url('../fonts/lcd-n___-webfont.eot');
  src: url('../fonts/lcd-n___-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lcd-n___-webfont.woff') format('woff'), url('../fonts/lcd-n___-webfont.ttf') format('truetype'), url('../fonts/lcd-n___-webfont.svg#LCDNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"],
.font-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'FioulReducEvent' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fleche-rond:before {
  content: "\e900";
}
/* @end */
/* @group Mes styles */
/* @group General */
html,
button,
input,
select,
textarea {
  color: #000;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 16px 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
/* selection */
::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}
/* @end */
/* @group Global */
html,
body {
  font-family: 'lato', sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-rendering: optimizeLegibility;
}
h1 {
  font-family: 'megalopolis', sans-serif;
  font-weight: normal;
  font-size: 2em;
  margin: 0 0 20px 0;
}
h2 {
  font-family: 'lato-bold', sans-serif;
  font-weight: normal;
  font-size: 1.563em;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}
p {
  font-family: 'lato', sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-rendering: optimizeLegibility;
  margin: 10px 0;
}
p strong {
  font-family: 'lato-bold', sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-rendering: optimizeLegibility;
}
b,
strong {
  font-weight: normal;
}
.container {
  max-width: 1220px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}
.txt-centered {
  text-align: center;
}
.logo-fioulreduc {
  display: inline-block;
  vertical-align: top;
  width: 262px;
  height: 32px;
  margin: 0;
  padding: 0;
  background: url("../layoutImg/logo.png") no-repeat 0 0;
}
.bloc-gris-bleu {
  background-color: #ebeef2;
}
.bloc-degrade-bleu {
  background-color: #071d63;
  background-image: -webkit-radial-gradient(50% 350%, 800px 800px, #457db7 0%, #071d63 100%);
  background-image: radial-gradient(50% 350%, 800px 800px, #457db7 0%, #071d63 100%);
}
.grid {
  background-color: #071d63;
  background-image: -webkit-radial-gradient(50% 50%, 800px 800px, #457db7 0%, #071d63 100%);
  background-image: radial-gradient(50% 50%, 800px 800px, #457db7 0%, #071d63 100%);
  color: #ffffff;
}
.grid:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../layoutImg/grille.png') repeat left top;
  opacity: 0.02;
}
.grid .container {
  position: relative;
}
.wrapper-compteurs .wrapper-compteur-participants {
  float: left;
}
.wrapper-compteurs .wrapper-decompteur-event {
  float: right;
}
/* @end */
/* @group Non semantic Boilerplate */
/* remplacement image */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
/* masqué */
.hidden {
  display: none !important;
}
/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* @end */
/* @group Header */
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 23px 0;
  z-index: 2;
}
#header .logo-fioulreduc {
  float: left;
  margin: 16px 0 0 60px;
}
#header a.btn-block,
#header button.btn-block {
  float: right;
}
/* @end */
/* @group Top event */
#top-event {
  box-sizing: border-box;
  height: 650px;
  padding: 155px 0 0 0;
}
/* @end */
/* @group Content event */
#content-event {
  padding: 80px 0 44px 0;
  color: #2947a0;
}
#inscription-event {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}
/* @end */
/* @group Footer */
#footer {
  padding: 38px 0;
}
/* @end */
/* @group Buttons */
a.btn-block,
button.btn-block {
  display: inline-block;
  vertical-align: top;
  padding: 21px 69px;
  font-family: 'lato-bold', sans-serif;
  font-weight: normal;
  font-size: 1.125em;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  border: none;
  letter-spacing: 2px;
  background: #fb8206;
  box-shadow: 0 2px 0 #ba4a00;
  background-image: -webkit-linear-gradient(bottom, rgba(242, 84, 15, 0.56) 0%, rgba(242, 84, 15, 0) 100%);
  background-image: linear-gradient(bottom, rgba(242, 84, 15, 0.56) 0%, rgba(242, 84, 15, 0) 100%);
  color: #ffffff;
  border-radius: 4px;
  -webkit-transition: background-color 0.15s ease-in-out;
          transition: background-color 0.15s ease-in-out;
}
a.btn-block:after,
button.btn-block:after {
  content: "\e900";
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'FioulReducEvent' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 16px;
  padding: 0;
}
a.btn-block:hover,
button.btn-block:hover,
a.btn-block:focus,
button.btn-block:focus {
  background: #f86708;
  background-image: -webkit-linear-gradient(bottom, rgba(242, 84, 15, 0.56) 0, rgba(242, 84, 15, 0) 100%);
  background-image: linear-gradient(to top, rgba(242, 84, 15, 0.56) 0, rgba(242, 84, 15, 0) 100%);
  -webkit-transition: background-color 0.15s ease-in-out;
          transition: background-color 0.15s ease-in-out;
}
a.btn-block:active,
button.btn-block:active {
  background: #f86708;
  background-image: -webkit-linear-gradient(bottom, rgba(242, 84, 15, 0.56) 0, rgba(242, 84, 15, 0) 100%);
  background-image: linear-gradient(to top, rgba(242, 84, 15, 0.56) 0, rgba(242, 84, 15, 0) 100%);
  box-shadow: none;
  -webkit-transition: background-color 0.15s ease-in-out;
          transition: background-color 0.15s ease-in-out;
}
a.btn-block:focus,
button.btn-block:focus {
  outline: none;
}
/* @end */
/* @group List */
#etapes-event {
  display: block;
  position: relative;
  width: 100%;
  height: 424px;
  margin: 70px auto 40px auto;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  counter-reset: counter-step-event;
}
#etapes-event.etape-1-active > li.etape-1 {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
#etapes-event.etape-1-active > li.etape-2 {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}
#etapes-event.etape-1-active > li.etape-3 {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}
#etapes-event.etape-1-active > li.etape-4 {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}
#etapes-event.etape-2-active > li.etape-1 {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
#etapes-event.etape-2-active > li.etape-2 {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
#etapes-event.etape-2-active > li.etape-3 {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}
#etapes-event.etape-2-active > li.etape-4 {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}
#etapes-event.etape-3-active > li.etape-1 {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
#etapes-event.etape-3-active > li.etape-2 {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
#etapes-event.etape-3-active > li.etape-3 {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
#etapes-event.etape-3-active > li.etape-4 {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}
#etapes-event.etape-4-active > li.etape-1 {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
#etapes-event.etape-4-active > li.etape-2 {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
#etapes-event.etape-4-active > li.etape-3 {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
#etapes-event.etape-4-active > li.etape-4 {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
#etapes-event > li {
  display: block;
  height: 100%;
  width: 40%;
  position: absolute;
  top: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
  border-left: 2px solid #ebeef2;
  box-sizing: border-box;
  counter-increment: counter-step-event;
  background-color: #ffffff;
}
#etapes-event > li h3 {
  position: relative;
  font-family: 'lato-italic', sans-serif;
  font-weight: normal;
  font-size: 1.375em;
  text-rendering: optimizeLegibility;
  margin: 30px 0 0 30px;
  padding: 0 0 0 34px;
}
#etapes-event > li h3:before {
  content: counter(counter-step-event);
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: #fa6f06;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  margin: -12px 0 0 0;
  font-family: 'lato-bold-italic', sans-serif;
  font-weight: normal;
  font-size: 0.727em;
  text-rendering: optimizeLegibility;
  color: #ffffff;
}
#etapes-event > li h4 {
  font-family: 'lato-italic', sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-rendering: optimizeLegibility;
  color: #fb8206;
  margin: 0;
  padding: 0 0 0 64px;
}
#etapes-event > li p {
  box-sizing: border-box;
  width: 100%;
  padding: 75px 30px 0 60%;
  font-family: 'lato-italic', sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-rendering: optimizeLegibility;
  position: relative;
  line-height: 1.4em;
}
#etapes-event > li p strong {
  font-family: 'lato-bold-italic', sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-rendering: optimizeLegibility;
}
#etapes-event > li img {
  position: absolute;
  max-width: 58%;
  display: block;
}
#etapes-event > li.etape-1 {
  left: 0;
  border-left: none;
}
#etapes-event > li.etape-1 img {
  top: 107px;
  left: 3px;
}
#etapes-event > li.etape-2 {
  left: 20%;
}
#etapes-event > li.etape-2 img {
  top: 91px;
  left: 0px;
}
#etapes-event > li.etape-3 {
  left: 40%;
}
#etapes-event > li.etape-3 img {
  bottom: 0px;
  left: 0px;
}
#etapes-event > li.etape-3 p {
  padding-right: 25px;
}
#etapes-event > li.etape-4 {
  left: 60%;
}
#etapes-event > li.etape-4 img {
  width: 100%;
  max-width: none;
  bottom: 0px;
  left: 0px;
}
.menu-contact {
  text-align: center;
}
.menu-contact ul {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
.menu-contact ul > li {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 0 35px;
}
.menu-contact ul > li.tel a {
  cursor: default;
}
.menu-contact ul > li.tel a:hover .visu-menu {
  -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
          transform: rotate(0deg) translate3d(0, 0, 0);
}
.menu-contact ul > li a {
  display: block;
  text-decoration: none;
  font-family: 'lato-bold', sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-rendering: optimizeLegibility;
}
.menu-contact ul > li a:hover .visu-menu {
  -webkit-transform: rotate(-10deg) translate3d(0, 0, 0);
          transform: rotate(-10deg) translate3d(0, 0, 0);
}
.menu-contact ul > li a .illus-menu {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0 16px 0 0;
  padding: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #fff;
}
.menu-contact ul > li a .illus-menu .visu-menu {
  display: block;
  position: absolute;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
          transition: transform 0.1s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.menu-contact ul > li a .illus-menu .visu-menu.mascotte {
  width: 55px;
  height: 56px;
  background: url('../layoutImg/mascotte.png') no-repeat center center;
  bottom: 3px;
  left: 4px;
  -webkit-transform-origin: 45% 55%;
      -ms-transform-origin: 45% 55%;
          transform-origin: 45% 55%;
}
.menu-contact ul > li a .illus-menu .visu-menu.adresse {
  width: 56px;
  height: 49px;
  background: url('../layoutImg/adresse.png') no-repeat center center;
  bottom: 3px;
  left: 3px;
  -webkit-transform-origin: 25px 23px;
      -ms-transform-origin: 25px 23px;
          transform-origin: 25px 23px;
}
.menu-contact ul > li a .illus-menu .visu-menu.site {
  width: 57px;
  height: 40px;
  background: url('../layoutImg/site.png') no-repeat center center;
  bottom: 3px;
  left: 3px;
  -webkit-transform-origin: 24px 15px;
      -ms-transform-origin: 24px 15px;
          transform-origin: 24px 15px;
}
.menu-contact ul > li a .zone-texte-menu {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 10px 0 0 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  color: #ffffff;
}
.menu-contact ul > li a .zone-texte-menu .indic-menu {
  display: inline-block;
  vertical-align: top;
  margin: 2px 0 0 0;
  font-family: 'lato-italic', sans-serif;
  font-weight: normal;
  font-size: 0.75em;
  text-rendering: optimizeLegibility;
  color: #ffcb00;
  line-height: 1.2em;
  width: auto;
  max-width: 132px;
  height: 17px;
  overflow: hidden;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  position: relative;
  letter-spacing: 1px;
}
.menu-contact ul > li a .zone-texte-menu .indic-menu.underline {
  text-decoration: underline;
}
/* @end */
/* @group Form */
/* @end */
/* @group odometer */
.compteur-participants.odometer-auto-theme,
.odometer.odometer-theme-train-station {
  font-family: 'lato', sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-rendering: optimizeLegibility;
  margin-top: -4px;
}
.odometer-formatting-mark {
  display: inline-block;
  vertical-align: middle;
  padding: 28px 0 0 0;
  height: 10px;
  line-height: 10px;
  font-size: 1.3em;
  color: #102462;
}
.compteur-participants.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-train-station .odometer-digit {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  border-radius: 10px;
  background-image: none;
  background-color: #041340;
  width: 32px;
  height: 53px;
  margin: 0 3px;
  padding: 0;
  line-height: 53px;
  text-align: center;
  color: white;
  font-family: 'lato', sans-serif;
  font-weight: normal;
  font-size: 1.2em;
  text-rendering: optimizeLegibility;
}
.compteur-participants.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.compteur-participants.odometer-theme-train-station .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
}
.compteur-participants.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
.compteur-participants.odometer-theme-train-station .odometer-digit .odometer-digit-spacer {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  visibility: hidden;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}
.compteur-participants.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value,
.compteur-participants.odometer-theme-train-station .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
  width: 100%;
  text-align: center;
}
/* @end */
/* @group Decompteur */
.decompteur-event {
  border: none;
  margin: 0 0 0 8px;
}
.decompteur-event .digit-group {
  display: inline-block;
  vertical-align: middle;
  height: 53px;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}
.decompteur-event .digit {
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
  background-image: none;
  background-color: #041340;
  width: 32px;
  height: 100%;
  margin: 0 3px;
  padding: 0;
  line-height: 53px;
  text-align: center;
  color: #fb8206;
  font-family: 'LCDNormal', sans-serif;
  font-weight: normal;
  font-size: 1.44em;
  text-rendering: optimizeLegibility;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.decompteur-event .legend {
  font-family: 'lato', sans-serif;
  font-weight: normal;
  font-size: 0.7em;
  text-rendering: optimizeLegibility;
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
}
/* @end */
/* @group Popup */
/* @end */
/* @group States */
.hide-text {
  text-indent: -9999px;
  display: none;
}
/* @end */
@media (max-width: 1200px) {
  /* @group Etapes event */
  #etapes-event > li h3 {
    margin: 20px 0 0 20px;
  }
  #etapes-event > li h4 {
    padding: 0 0 0 20px;
  }
  #etapes-event > li p {
    font-size: 0.9em;
  }
  /* @end */
}
@media (max-width: 979px) {
  /* @group Compteurs */
  h2 {
    font-size: 1.3em;
  }
  .compteur-participants.odometer-auto-theme,
  .odometer.odometer-theme-train-station {
    font-size: 0.9em;
  }
  .compteur-participants.odometer-auto-theme .odometer-digit,
  .odometer.odometer-theme-train-station .odometer-digit {
    width: 26px;
    height: 48px;
    line-height: 48px;
    border-radius: 6px;
    margin: 0 2px;
  }
  .decompteur-event .digit-group {
    height: 48px;
  }
  .decompteur-event .digit {
    border-radius: 6px;
    width: 26px;
    line-height: 48px;
    font-size: 1.1em;
    margin: 0 2px;
  }
  /* @end */
  /* @group Etapes event */
  #etapes-event {
    height: auto;
    border-radius: 0;
  }
  #etapes-event.etape-1-active > li.etape-1 {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  #etapes-event.etape-1-active > li.etape-2 {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  #etapes-event.etape-1-active > li.etape-3 {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  #etapes-event.etape-1-active > li.etape-4 {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  #etapes-event.etape-2-active > li.etape-1 {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  #etapes-event.etape-2-active > li.etape-2 {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  #etapes-event.etape-2-active > li.etape-3 {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  #etapes-event.etape-2-active > li.etape-4 {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  #etapes-event.etape-3-active > li.etape-1 {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  #etapes-event.etape-3-active > li.etape-2 {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  #etapes-event.etape-3-active > li.etape-3 {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  #etapes-event.etape-3-active > li.etape-4 {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  #etapes-event.etape-4-active > li.etape-1 {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  #etapes-event.etape-4-active > li.etape-2 {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  #etapes-event.etape-4-active > li.etape-3 {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  #etapes-event.etape-4-active > li.etape-4 {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  #etapes-event > li {
    height: auto;
    width: auto;
    position: relative;
    top: inherit;
    border-left: none;
    border-bottom: 1px solid #cacaca;
    -webkit-transition: none;
            transition: none;
  }
  #etapes-event > li:last-child {
    border-bottom: none;
  }
  #etapes-event > li h3 {
    margin: 0;
    display: inline-block;
    vertical-align: top;
  }
  #etapes-event > li h4 {
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin: 6px 0 0 10px;
  }
  #etapes-event > li img {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 25%;
  }
  #etapes-event > li p {
    display: inline-block;
    vertical-align: top;
    padding: 0 30px 0 30px;
    width: 75%;
  }
  #etapes-event > li.etape-1 {
    left: 0;
    border-left: none;
  }
  #etapes-event > li.etape-1 img {
    top: inherit;
    left: inherit;
  }
  #etapes-event > li.etape-2 {
    left: 0;
  }
  #etapes-event > li.etape-2 img {
    top: inherit;
    left: inherit;
  }
  #etapes-event > li.etape-3 {
    left: 0;
  }
  #etapes-event > li.etape-3 img {
    bottom: inherit;
    left: inherit;
  }
  #etapes-event > li.etape-3 p {
    padding-right: 25px;
  }
  #etapes-event > li.etape-4 {
    left: 0;
  }
  #etapes-event > li.etape-4 img {
    width: 25%;
    bottom: inherit;
    left: inherit;
  }
  #etapes-event > li .title-etape {
    box-sizing: border-box;
    padding: 10px 56px 10px 20px;
    cursor: pointer;
    position: relative;
  }
  #etapes-event > li .title-etape:after {
    content: "›";
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
    font-size: 40px;
    line-height: 37px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin: -20px 0 0 0;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
            transition: transform 0.3s ease-in-out;
  }
  #etapes-event > li .content-etape {
    display: none;
    box-sizing: border-box;
    padding: 10px 20px;
  }
  #etapes-event > li:first-child .content-etape {
    display: block;
  }
  #etapes-event > li.open .title-etape:after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  /* @end */
}
@media (max-width: 767px) {
  #content-event {
    padding: 40px 0 44px 0;
  }
  /* @group Compteurs */
  .wrapper-compteurs .wrapper-compteur-participants {
    float: none;
  }
  .wrapper-compteurs .wrapper-decompteur-event {
    float: none;
  }
  h2 {
    margin: 15px 0;
    font-size: 1em;
  }
  .compteur-participants.odometer-auto-theme .odometer-digit,
  .odometer.odometer-theme-train-station .odometer-digit {
    width: 18px;
    height: 34px;
    line-height: 34px;
    border-radius: 5px;
    margin: 0 2px;
  }
  .decompteur-event .digit-group {
    height: 34px;
  }
  .decompteur-event .digit {
    border-radius: 5px;
    width: 18px;
    line-height: 34px;
    font-size: 1em;
    margin: 0 2px;
  }
  .decompteur-event .legend {
    bottom: -15px;
  }
  .decompteur-event {
    margin-left: 0;
  }
  /* @end */
  /* @group Etapes event */
  #etapes-event > li h3 {
    display: block;
  }
  #etapes-event > li h4 {
    display: block;
    margin: 0;
  }
  #etapes-event > li img {
    display: block;
    width: auto;
    max-height: 150px;
    margin: 0 auto 20px auto;
  }
  #etapes-event > li p {
    display: block;
    padding: 0;
    width: 100%;
  }
  /* @end */
}
/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .logo-fioulreduc {
    background-image: url("../layoutImg/logo@2x.png");
    background-size: 262px 32px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .logo-fioulreduc {
    background-image: url("../layoutImg/logo@2x.png");
    background-size: 262px 32px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi) {
  .logo-fioulreduc {
    background-image: url("../layoutImg/logo@3x.png");
    background-size: 262px 32px;
  }
}
/* @end */
