/* @group Fonts */
@font-face {
  font-family: 'lato-bold';
  src: url('../fonts/Lato-Bol.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Bol.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Bol.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Bol.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-Bol.svg#eea591db52cf6ebc8992abb7621b9256') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'lato-bold-italic';
  src: url('../fonts/Lato-BolIta.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-BolIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-BolIta.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-BolIta.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-BolIta.svg#030f5996dac0d7b15fbd4081adedf95b') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'lato-hairline';
  src: url('../fonts/Lato-Hai.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Hai.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Hai.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Hai.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-Hai.svg#477d11e773543baa2ffc5ab40fca9623') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'lato-hairline-italic';
  src: url('../fonts/Lato-HaiIta.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-HaiIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-HaiIta.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-HaiIta.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-HaiIta.svg#a326329371e687b71c219b7d91fb9255') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'lato-light';
  src: url('../fonts/Lato-Lig.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Lig.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Lig.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Lig.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-Lig.svg#80d8021909d835b751af094d043ad177') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'lato-light-italic';
  src: url('../fonts/Lato-LigIta.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-LigIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-LigIta.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-LigIta.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-LigIta.svg#7015aa8810c4a9d1026a85e4ddcdf7a4') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/Lato-Reg.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Reg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Reg.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Reg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-Reg.svg#48e70b8825d557df57af3e4f7d4c31be') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'lato-italic';
  src: url('../fonts/Lato-RegIta.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-RegIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-RegIta.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-RegIta.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-RegIta.svg#51ac4eb0bc1817d276ca824c5353e08f') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
    font-family: 'megalopolis';
    src: url('../fonts/megalopolisextra-webfont.eot');
    src: url('../fonts/megalopolisextra-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/megalopolisextra-webfont.woff') format('woff'),
         url('../fonts/megalopolisextra-webfont.ttf') format('truetype'),
         url('../fonts/megalopolisextra-webfont.svg#megalopolis_extraregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FioulReducEvent';
    src:    url('../fonts/FioulReducEvent.eot?erh2gf');
    src:    url('../fonts/FioulReducEvent.eot?erh2gf#iefix') format('embedded-opentype'),
        url('../fonts/FioulReducEvent.woff2?erh2gf') format('woff2'),
        url('../fonts/FioulReducEvent.ttf?erh2gf') format('truetype'),
        url('../fonts/FioulReducEvent.woff?erh2gf') format('woff'),
        url('../fonts/FioulReducEvent.svg?erh2gf#FioulReducEvent') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LCDNormal';
    src: url('../fonts/lcd-n___-webfont.eot');
    src: url('../fonts/lcd-n___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lcd-n___-webfont.woff') format('woff'),
         url('../fonts/lcd-n___-webfont.ttf') format('truetype'),
         url('../fonts/lcd-n___-webfont.svg#LCDNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .font-icon{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'FioulReducEvent' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fleche-rond:before {
    content: "\e900";
}


.lato-bold(@size){
	font-family: 'lato-bold', sans-serif;
	font-weight: normal;
	font-size: @size;
	text-rendering: optimizeLegibility;
}

.lato-bold-italic(@size){
	font-family: 'lato-bold-italic', sans-serif;
	font-weight: normal;
	font-size: @size;
	text-rendering: optimizeLegibility;
}

.lato-hairline(@size){
	font-family: 'lato-hairline', sans-serif;
	font-weight: normal;
	font-size: @size;
	text-rendering: optimizeLegibility;
}

.lato-hairline-italic(@size){
	font-family: 'lato-hairline-italic', sans-serif;
	font-weight: normal;
	font-size: @size;
	text-rendering: optimizeLegibility;
}

.lato-light(@size){
	font-family: 'lato-light', sans-serif;
	font-weight: normal;
	font-size: @size;
	text-rendering: optimizeLegibility;
}

.lato-light-italic(@size){
	font-family: 'lato-light-italic', sans-serif;
	font-weight: normal;
	font-size: @size;
	text-rendering: optimizeLegibility;
}

.lato(@size){
	font-family: 'lato', sans-serif;
	font-weight: normal;
	font-size: @size;
	text-rendering: optimizeLegibility;
}

.lato-italic(@size){
	font-family: 'lato-italic', sans-serif;
	font-weight: normal;
	font-size: @size;
	text-rendering: optimizeLegibility;
}

.megapolis(@size:1em){
	font-family: 'megalopolis', sans-serif;
	font-weight: normal;
	font-size: @size;
}

.lcd(@size){
  font-family: 'LCDNormal', sans-serif;
  font-weight: normal;
  font-size: @size;
  text-rendering: optimizeLegibility;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* @end */