/* @group Form */
fieldset{
    display: block;
    margin: 12px 0;
}
label, .equi-label{
    display: inline-block;
    vertical-align: middle;
    width: 140px;
    text-align: right;
    padding: 0 7px 0 0;
    box-sizing: border-box;
    .lato-italic(1em);
    color: @bleuFonceFioulReduc;
    &.radio{
        width: auto;
        border-radius: 3px;
        padding: 8px 6px;
        margin: 0 8px 0 0;
        border: 2px solid #cccdd3;
        cursor: pointer;
        &:last-child{
            margin: 0;
        }
        &.active{
            background-color: #eeeeee;
            border-color: #fff;
        }
        input[type="radio"]{
            margin-right: 6px;
        }
    }
}
input{
    &:focus{
        outline: none;
    }
}
input[type="text"], input[type="email"], input[type="tel"]{
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #cccdd3;
    border-radius: 5px;
    .lato(1em);
    color: @bleuFioulReduc;
    box-sizing: border-box;
    padding: 8px 7px;
    &#lien-partage{
        border: 1px solid #c0c2cc;
        border-radius: 0;
        .lato-bold(0.875em);
        color: @bleuFonceFioulReduc;
        padding: 10px 20px 10px 42px;
        width: 100%;
    }
    .obli &{
        &:invalid{
            &:focus{
                border-color: @rougeErreur;
                &~ .error-message{
                    display: inline-block;
                }
                &~ .bg-zone-form{
                    display: block;
                    background-color: #fbe5e6;
                }
            }
        }
        &:valid{
            border-color: @vertValid;
            &~ .bg-zone-form{
                display: block;
            }
        }
    }
}
.zone-form{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.bg-zone-form{
    display: none;
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background-color: #ecf7ed;
    z-index: -1;
    border-radius: 6px;
}
.error-message{
    display: none;
    vertical-align: middle;
    .lato-bold(0.875em);
    color: @rougeErreur;
    padding: 0 10px 0 10px;
}
.size1{
    width: 100px;
}
.size2{
    width: 203px;
}
.size3{
    width: 134px;
}
.indic-form{
    display: inline-block;
    vertical-align: middle;
    .lato(0.875em);
    color: @bleuFonceFioulReduc;
    margin: 0 0 0 4px;
    &.facultatif{
        color: #cccdd3;
        margin-left: 10px;
    }
}
.head-form{
    position: relative;
    padding: 0 0 0 78px;
    margin: 0 0 10px 0;
    box-sizing: border-box;
    img{
        position: absolute;
        top: 0;
        left: 0;
    }
    p{
        margin: 4px 0 0 0;
        padding: 0;
        .lato-italic(1em);
        color: #9399ad;
    }
    &#head-coordonnees{
        margin-top: 20px;
    }
}
.zone-btn-form{
    display: block;
    box-sizing: border-box;
    padding: 0 0 0 140px;
    margin: 12px 0 0 0;
    a, button{
        &.btn-block, &.btn-block.small{
            width: 100%;
            max-width: 340px;
        }
    }
}
.zone-partage{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
    max-width: 330px;
    a, button{
        &#btn-partage{
            position: absolute;
            top: 0;
            left: 0;
            width: 33px;
            height: 100%;
            background: url("../layoutImg/copy.png") no-repeat 50% 50%;
        }
    }
}
/* @end */