/* @group Header */
#header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 23px 0;
	z-index: 2;
	.logo-fioulreduc{
		margin: 0 60px;
	}
	.wrapper-align-middle{
	    table-layout: fixed;
	}
	#wrapper-logo-header{
		width: 325px;
	}
	#wrapper-btn-inscription{
		width: 325px;
	}
}
/* @end */

/* @group Top event */
#top-event{
	box-sizing: border-box;
	height: 650px;
	padding: 155px 0 0 0;
	position: relative;
	overflow: hidden;
	.container{
		position: relative;
	}
	p{
		margin-top: 5px;
	}
}
/* @end */

/* @group Visu */
#wrapper-illus{
	display: block;
	width: 1200px;
	height: 447px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin: 0 0 0 -600px;
	//background: blue;
	#glow{
		display: block;
		width: 635px;
		height: 200px;
		position: absolute;
		top: 0;
		left: 50%;
		margin: 0 0 0 -317px;
		background: url("../layoutImg/illus/glow.png") no-repeat 0 0;
	}
	#ombre-socle{
		display: block;
		width: 1200px;
		height: 33px;
		position: absolute;
		bottom: 30px;
		left: 50%;
		margin: 0 0 0 -600px;
		background: url("../layoutImg/illus/ombre-socle.png") no-repeat 0 0;
	}
	#socle{
		display: block;
		width: 783px;
		height: 26px;
		position: absolute;
		bottom: 102px;
		left: 50%;
		margin: 0 0 0 -391px;
		background: url("../layoutImg/illus/socle.png") no-repeat 0 0;
	}
}
/* @end */

/* @group Content event */
#content-event{
	padding: 80px 0 44px 0;
	color: @bleuFioulReduc;
}
#inscription-event{
	display: block;
	margin: 0 auto;
	max-width: 800px;
	button.btn-block{
		margin: 25px 0 15px 0;
	}
}
/* @end */

/* @group Footer */
#footer{
	padding: 38px 0;
}
/* @end */