/* @group Header */
#header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 23px 0;
	z-index: 2;
	.logo-fioulreduc{
		float: left;
		margin: 16px 0 0 60px;
	}
	a, button{
		&.btn-block{
			float: right;
		}
	}
}
/* @end */

/* @group Top event */
#top-event{
	box-sizing: border-box;
	height: 650px;
	padding: 155px 0 0 0;
}
/* @end */

/* @group Content event */
#content-event{
	padding: 80px 0 44px 0;
	color: @bleuFioulReduc;
}
#inscription-event{
	display: block;
	margin: 0 auto;
	max-width: 800px;
}
/* @end */

/* @group Footer */
#footer{
	padding: 38px 0;
}
/* @end */