@media (max-width: 1200px) {
    /* @group Header */
    #header{
        .logo-fioulreduc{
            margin: 0;
        }
    }
    /* @end */

    /* @group Etapes event */
    #etapes-event{
        > li{
            h3{
                margin: 20px 0 0 20px;
            }
            h4{
                padding: 0 0 0 20px;
            }
            p{
                font-size: 0.9em;
            }
        }
    }
    /* @end */
}

@media (max-width: 1150px) {
    /* @group Etapes event */
    #etapes-event{
        > li{
            &.etape-1{
                p{
                    padding-left: 220px;
                }
                .content-etape{
                    &:before, &:after{
                        background-size: 220px 225px;
                    }
                }
            }
            &.etape-2{
                p{
                    padding-left: 220px;
                }
                .content-etape{
                    &:before, &:after{
                        background-size: 200px 244px;
                    }
                }
            }
            &.etape-3{
                p{
                    padding-left: 220px;
                }
                .content-etape{
                    &:before, &:after{
                        background-size: 220px 269px;
                    }
                }
            }
            &.etape-4{
                p{
                    padding-left: 220px;
                }
            }
        }
    }
    /* @end */

    /* @group Footer */
    .menu-contact{
        ul{
            > li{
                margin: 0 15px;
            }
        }
    }
    /* @end */
}

@media (max-width: 1024px) {
    /* @group Buttons */
    a, button{
        &.btn-block{
            padding: 16px 30px;
            font-size: 0.9em;
            &:after{
                font-size: 18px;
                margin: 0 0 0 14px;
            }
            &.small{
                &:after{
                    margin-top: 0;
                }
            }
        }
    }
    .logo-fioulreduc{
        width: 240px;
        height: 30px;
    }
    #header{
        .wrapper-align-middle{
            table-layout: auto;
        }
        #wrapper-logo-header{
            width: auto;
        }
        #wrapper-btn-inscription{
            width: auto;
        }
    }
    /* @end */
}

@media (max-width: 979px) {
    h1{
        font-size: 2.8em;
    }

    /* @group Top event */
    #top-event{
        p{
            max-width: 480px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    /* @end */

    /* @group Compteurs */
    #content-event{
        padding: 60px 0 44px 0;
    }
    h2{
        font-size: 1.3em;
    }
    .compteur-participants.odometer-auto-theme, .odometer.odometer-theme-train-station{
        font-size: 0.9em;
        .odometer-digit{
            width: 26px;
            height: 48px;
            line-height: 48px;
            border-radius: 6px;
            margin: 0 2px;
        }
    }
    .decompteur-event{
        height: 48px;
        .digit-group{
            height: 48px;
        }
        .digit{
            border-radius: 6px;
            width: 18px;
            line-height: 48px;
            //font-size: 1.1em;
            //margin: 0 2px;
            font-size: 1.4em;
            margin: 0;
        }
        .legend{
            bottom: -12px;
        }
    }
    /* @end */

    /* @group Etapes event */
    #etapes-event{
        height: auto;
        border-radius: 0;
        margin: 30px auto 40px auto;
        &:hover{
            &.etape-1-active{
                >li{
                    &.etape-1{
                        .content-etape{
                            &:before{
                                opacity: 1;
                            }
                            &:after{
                                opacity: 0;
                            }
                        }
                    }
                }
            }
            &.etape-2-active{
                >li{
                    &.etape-2{
                        .content-etape{
                            &:before{
                                opacity: 1;
                            }
                            &:after{
                                opacity: 0;
                            }
                        }
                    }
                }
            }
            &.etape-3-active{
                >li{
                    &.etape-3{
                        .content-etape{
                            &:before{
                                opacity: 1;
                            }
                            &:after{
                                opacity: 0;
                            }
                        }
                    }
                }
            }
            &.etape-4-active{
                >li{
                    &.etape-4{
                        .content-etape{
                            &:before{
                                opacity: 1;
                            }
                            &:after{
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
        &.etape-1-active{
            >li{
                &.etape-1{
                    transform: translateX(0%);
                    .content-etape{
                        &:before{
                            opacity: 1;
                        }
                    }
                }
                &.etape-2{
                    transform: translateX(0%);
                }
                &.etape-3{
                    transform: translateX(0%);
                }
                &.etape-4{
                    transform: translateX(0%);
                }
            }
        }
        &.etape-2-active{
            >li{
                &.etape-1{
                    transform: translateX(0%);
                }
                &.etape-2{
                    transform: translateX(0%);
                    .content-etape{
                        &:before{
                            opacity: 1;
                        }
                    }
                }
                &.etape-3{
                    transform: translateX(0%);
                }
                &.etape-4{
                    transform: translateX(0%);
                }
            }
        }
        &.etape-3-active{
            >li{
                &.etape-1{
                    transform: translateX(0%);
                }
                &.etape-2{
                    transform: translateX(0%);
                }
                &.etape-3{
                    transform: translateX(0%);
                    .content-etape{
                        &:before{
                            opacity: 1;
                        }
                    }
                }
                &.etape-4{
                    transform: translateX(0%);
                }
            }
        }
        &.etape-4-active{
            >li{
                &.etape-1{
                    transform: translateX(0%);
                }
                &.etape-2{
                    transform: translateX(0%);
                }
                &.etape-3{
                    transform: translateX(0%);
                }
                &.etape-4{
                    transform: translateX(0%);
                    .content-etape{
                        &:before{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        > li{
            height: auto;
            width: auto;
            position: relative;
            top: inherit;
            border-left: none;
            border-bottom: 1px solid #cacaca;
            transition: none;
            &:last-child{
                border-bottom: none;
            }
            h3{
                margin: 0;
                display: inline-block;
                vertical-align: top;
            }
            h4{
                padding: 0;
                display: inline-block;
                vertical-align: top;
                margin: 6px 0 0 10px;
            }
            img{
                position: relative;
                display: inline-block;
                vertical-align: top;
                width: 25%;
            }
            p{
                display: inline-block;
                vertical-align: top;
                padding: 0;
                width: 100%;
                font-size: 1.1em;

                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
            .content-etape{
                position: relative;
            }
            &.etape-1{
                left: 0;
                border-left: none;
                background-position: 3px 45px;
                p{
                    padding-left: 290px;
                }
                .content-etape{
                    &:before, &:after{
                        background-size: 253px 259px;
                    }
                    &:after{
                        background: @blanc;
                    }
                    &:before{
                        opacity: 1;
                    }
                }
            }
            &.etape-2{
                left: 0;
                img{
                    top: inherit;
                    left: inherit;
                }
                p{
                    padding-left: 290px;
                }
                .content-etape{
                    &:before, &:after{
                        background-size: 220px 268px;
                    }
                    &:after{
                        background: @blanc;
                    }
                    &:before{
                        opacity: 1;
                    }
                }
            }
            &.etape-3{
                left: 0;
                img{
                    bottom: inherit;
                    left: inherit;
                }
                p{
                    padding-right: 25px;
                    padding-left: 290px;
                }
                .content-etape{
                    &:before, &:after{
                        background-size: 278px 340px;
                    }
                    &:after{
                        background: @blanc;
                    }
                    &:before{
                        opacity: 1;
                    }
                }
            }
            &.etape-4{
                left: 0;
                img{
                    width: 25%;
                    bottom: inherit;
                    left: inherit;
                }
                p{
                    padding-left: 290px;
                }
                .content-etape{
                    &:before, &:after{
                        background-size: 480px 327px;
                    }
                    &:after{
                        background: @blanc;
                    }
                    &:before{
                        opacity: 1;
                    }
                }
            }
            .title-etape{
                box-sizing: border-box;
                padding: 10px 56px 10px 20px;
                cursor: pointer;
                position: relative;
                &:after{
                    content: "›";
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    display: block;
                    font-size: 40px;
                    line-height: 37px;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    margin: -20px 0 0 0;
                    transition: transform 0.3s ease-in-out;
                }
            }
            .content-etape{
                display: none;
                box-sizing: border-box;
                padding: 10px 20px;
                min-height: auto;
            }
            &:first-child{
                .content-etape{
                    display: block;
                }
            }
            &.open{
                .title-etape{
                    &:after{
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }
    /* @end */

    /* @group Partage */
    .wrapper-popup{
        &#popup-partage-etape{
            .popup{
                background-position: 0 100px, 100% 117px;
            }
        }
    }
    /* @end */
}

@media (max-width: 767px) {
    h1{
        font-size: 2em;
    }
    p{
        font-size: 0.9em;
    }
    #content-event{
        padding: 25px 0 44px 0;
    }
    /* @group Buttons */
    a, button{
        &.btn-share{
            font-size: 0.9em;
            padding-top: 8px;
            padding-bottom: 8px;
            &:before{
                margin-right: 5px;
            }
        }
    }
    /* @end */

    /* @group Header */
    #header{
        padding: 0;
        overflow: hidden;
        .container{
            padding: 0;
        }
        .logo-fioulreduc{
            background-image: url("../layoutImg/logo-responsive.png");
            width: 124px;
            height: 19px;
            margin: 0 auto;
            display: block;
        }
        .content-align-middle{
            &#wrapper-logo-header{
                display: block;
                width: 100%;
                background-color: @blanc;
                box-shadow: 0 2px 0 rgba(0,0,0,.08);
                padding: 18px 20px;
                box-sizing: border-box;
            }
            &#wrapper-right-header{
                display: block;
                width: 100%;
                box-sizing: border-box;
                padding: 0 10px;
                margin: 15px 0 0 0;
                .content-align-middle{
                    padding: 0 10px;
                    &#wrapper-btn-inscription{
                        min-width: 185px;
                    }
                }
                a, button{
                    &.btn-block{
                        font-size: 0.8em;
                        padding: 16px 20px;
                    }
                }
            }
            &.txt-right-aligned{
                text-align: center;
            }
        }
    }
    /* @end */

    /* @group Compteurs */
    .wrapper-compteurs{
        text-align: center;
        .wrapper-compteur-participants{
            float: none;
        }
        .wrapper-decompteur-event{
            float: none;
        }
    }
    h2{
        margin: 24px 0;
        font-size: 1.5em;
    }
    .compteur-participants.odometer-auto-theme, .odometer.odometer-theme-train-station{
        .odometer-digit{
            width: 24px;
            height: 38px;
            line-height: 38px;
            border-radius: 5px;
            margin: 0 2px;
        }
    }
    .decompteur-event{
        height: 38px;
        .digit-group{
            height: 38px;
        }
        .digit{
            border-radius: 5px;
            width: 18px;
            line-height: 38px;
            font-size: 1.2em;
            //margin: 0 2px;
        }
        .legend{
            bottom: -18px;
        }
    }
    .decompteur-event{
        margin-left: 4px;
    }
    /* @end */

    /* @group Etapes event */
    #etapes-event{
        > li{
            h3{
                display: block;
            }
            h4{
                display: block;
                margin: 0;
            }
            img{
                display: block;
                width: auto;
                max-height: 150px;
                margin: 0 auto 20px auto;
            }
            p{
                display: block;
                padding: 150px 0 0 0;
                width: 100%;
                margin: 0;
                font-size: 0.9em;
                position: relative;
                top: 0;
                transform: none;
            }
            .content-etape{
                height: auto;
            }
            &.etape-1{
                .content-etape{
                    &:after{
                        background: @blanc;
                    }
                    &:before{
                        background-position: 50% 3px;
                        background-size: 150px auto;
                        opacity: 1;
                    }
                }
                p{
                    padding-left: 0;
                }
            }
            &.etape-2{
                .content-etape{
                    &:after{
                        background: @blanc;
                    }
                    &:before{
                        background-position: 50% 3px;
                        background-size: 125px auto;
                        opacity: 1;
                    }
                }
                p{
                    padding-left: 0;
                }
            }
            &.etape-3{
                .content-etape{
                    &:after{
                        background: @blanc;
                    }
                    &:before{
                        background-image: url("../img/illus-offre-mobile.png");
                        background-position: 50% 18px;
                        background-size: 100% auto;
                        opacity: 1;
                    }
                }
                p{
                    padding: 150px 0 0 0;
                }
            }
            &.etape-4{
                .content-etape{
                    &:after{
                        background: @blanc;
                    }
                    &:before{
                        background-image: url("../img/illus-livraison-mobile.png");
                        background-position: 50% 14px;
                        background-size: 100% auto;
                        opacity: 1;
                    }
                }
                p{
                    padding: 114px 0 0 0;
                }
            }
        }
    }
    /* @end */

    /* @group Footer */
    .menu-contact{
        ul{
            > li{
                display: block;
                margin: 15px 0;
                a{
                    .illus-menu{
                        margin: 0 24px 0 0;
                    }
                }
            }
        }
    }
    /* @end */

    /* @group Popup */
    .wrapper-popup{
        position: relative;
        background-color: @blanc;
        padding: 0;
        cursor: auto;
    }
    .popup{
        position: relative;
        top: inherit;
        left: inherit;
        transform: none;
        .container-popup.big &{
            padding-top: 23px;
            padding-bottom: 23px;
        }
        .btn-close-popup{
            position: absolute;
            top: 11px;
            margin: 0 0 0 10px;
            transform: translate3d(0px, 0px, 0px);
            &.fixed{
                position: fixed;
            }
        }
    }
    .container-popup.big .popup .btn-close-popup{
        margin-top: 0;
    }
    /* @end */

    /* @group Partage */
    .wrapper-popup{
        &#popup-partage-etape, &#popup-partage{
            .popup{
                background: none;
            }
        }
    }
    .popup{
        h2{
            font-size: 1.3em;
        }
        p{
            strong{
                font-size: 1.1em;
            }
        }
    }
    /* @end */
}

@media (max-width: 660px) {
    /* @group Form */
    label, .equi-label{
        display: block;
        text-align: left;
        width: 100%;
        margin: 0 0 8px 0;
        &.radio{
            display: inline-block;
            vertical-align: top;
            margin-bottom: 5px;
        }
    }
    .head-form{
        padding: 0;
        img{
            position: relative;
            margin: 0 0 5px 0;
        }
        h4{
            font-size: 1.1em;
        }
        p{
            font-size: 0.9em;
        }
    }
    .zone-btn-form{
        padding: 0;
    }
    /* @end */

    /* @group Partage */
    .partage{
        > li{
            display: block;
            margin: 0 0 5px 0;
            .ou{
                display: block;
                margin: 0 0 5px 0;
            }
            a{
                padding: 11px 24px 11px 40px;
            }
        }
    }
    /* @end */

    /* @group Popup */
    #partage-email{
        ul{
            > li{
                box-sizing: border-box;
                padding: 0 44px 0 0;
                position: relative;
            }
        }
        input[type="email"]{
            width: 100%;
            max-width: auto;
        }
        .btn-plus{
            margin: 0;
            position: absolute;
            top: 4px;
            right: 0;
        }
        .btn-arrow-left{
            margin: 0 0 4px 0;
        }
        h5{
            display: block;
            margin: 2px 0 0 0;
        }
    }
    /* @end */
}

@media (max-width: 480px) {
    h1{
        font-size: 1.4em;
    }
    p{
        font-size: 0.8em;
    }

    /* @group Compteurs */
    h2{
        font-size: 1.2em;
    }
    .compteur-participants.odometer-auto-theme, .odometer.odometer-theme-train-station{
        .odometer-digit{
            width: 18px;
            height: 34px;
            line-height: 34px;
            border-radius: 5px;
            margin: 0 2px;
        }
    }
    .decompteur-event{
        height: 34px;
        .digit-group{
            height: 34px;
        }
        .digit{
            border-radius: 5px;
            width: 14px;
            line-height: 34px;
            //font-size: 1em;
            //margin: 0 2px;
        }
        .legend{
            bottom: -12px;
        }
    }
    /* @end */

    /* @group Etapes event */
    #etapes-event{
        > li{
            &.etape-3{
                p{
                    padding: 88px 0 0 0;
                }
            }
            &.etape-4{
                p{
                    padding: 72px 0 0 0;
                }
            }
        }
    }
    /* @end */

    /* @group Header */
    #header{
        .content-align-middle{
            &#wrapper-right-header{
                a, button{
                    &.btn-block{
                        padding: 16px 12px;
                        &:after{
                            margin: 0 0 0 8px;
                        }
                    }
                }
            }
        }
    }
    /* @end */

    /* @group Partage */
    .popup{
        p{
            margin: 10px auto;
        }
        h2{
            font-size: 1.1em;
            margin: 20px 0 20px 0;
        }
    }
    /* @end */
}

/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    .logo-fioulreduc{
        background-image: url("../layoutImg/logo@2x.png");
    }
    #etapes-event{
        > li{
            &.etape-1{
                .content-etape{
                    &:after{
                        background-image: url("../img/illus-inscription@2x.gif");
                        @media (max-width: 979px){
                            background: @blanc;
                        }
                    }
                    &:before{
                        background-image: url("../img/illus-inscription@2x.png");
                    }
                }
            }
            &.etape-2{
                .content-etape{
                    &:after{
                        background-image: url("../img/illus-nego@2x.gif");
                        @media (max-width: 979px){
                            background: @blanc;
                        }
                    }
                    &:before{
                        background-image: url("../img/illus-nego@2x.png");
                    }
                }
            }
            &.etape-3{
                .content-etape{
                    &:after{
                        background-image: url("../img/illus-offre@2x.gif");
                        @media (max-width: 979px){
                            background: @blanc;
                        }
                    }
                    &:before{
                        background-image: url("../img/illus-offre@2x.png");
                        @media (max-width: 767px) {
                            background-image: url("../img/illus-offre-mobile@2x.png");
                        }
                    }
                }
            }
            &.etape-4{
                .content-etape{
                    &:after{
                        background-image: url("../img/illus-livraison@2x.gif");
                        @media (max-width: 979px){
                            background: @blanc;
                        }
                    }
                    &:before{
                        background-image: url("../img/illus-livraison@2x.png");
                        @media (max-width: 767px) {
                            background-image: url("../img/illus-livraison-mobile@2x.png");
                        }
                    }
                }
            }
        }
    }
    .zone-partage{
        a, button{
            &#btn-partage{
                background-image: url("../layoutImg/copy@2x.png");
                background-size: 12px 15px;
            }
        }
    }
}